{% extends 'base.html' %}

{% block title %}
    {% if task %} Update Task {% else %} Add New Task {% endif %}
{% endblock %}

{% block content %}
    <div class="form-container">
        <h2 class="text-center">
            {% if task %} 
                Update Task 
            {% else %} 
                Add a New Task 
            {% endif %}
        </h2>
        <form method="post">
            {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3">
                        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
            <button type="submit" class="btn btn-submit">
                {% if task %} 
                    Update Task 
                {% else %} 
                    Save Task 
                {% endif %}

            </button>
        </form>
    </div>
{% endblock %}
