<!DOCTYPE HTML>
{% load static %}
<html >
    <head>
        <title> 
            {% block title %} 
                Ramadan Task Tracer
            {% endblock %}
        </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}"> Ramadan</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}"> الصفحة الرئيسية</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'tasks' %}">المهمات </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'add_task' %}">مهمة جديدة </a>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}"> سجل دخول</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}"> حساب جديد</a>
                        </li>  
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}"> تسجيل الخروج</a>
                        </li>  
                    </ul>
                </div>
            </div>
        </nav>


        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}


        {% block content %}
        
        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>