{% extends 'base.html' %}
{% load static %}

{% block title %}
    Login in to your account
{% endblock %}

{% block content %}


<div class="form-container">
    <h2>Login</h2>
    <p>Please enter your credentials to log in.</p>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        <br>
        <button type="submit" class="btn btn-submit">Login</button>
    </form>
    <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
</div>
{% endblock %}