{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Task History</h2>
    
    {% for day in progress_by_day %}
        <div class="card shadow-sm mb-4">
            <div class="card-body">
                <h4 class="card-title text-primary">{{ day.date }}</h4>
                <p class="text-muted">Overall Progress: {{day.avg_progress}} %</p>
                
                <div class="progress mb-3">
                    <div class="progress-bar" role="progressbar" 
                        style="width: {{ day.avg_progress }}%;" 
                        aria-valuenow="{{ day.avg_progress }}" 
                        aria-valuemin="0" aria-valuemax="100">
                        {{ day.avg_progress }}%
                    </div>
                </div>

                <ul class="list-group">
                    {% for task in day.tasks %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <strong> <a href="{% url 'task_details' task.id %} " style='text-decoration: none'> {{ task.title }} </a> </strong>
                            <span class="badge bg-primary">{{ task.progress }}%</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% empty %}
        <p class="text-center text-muted">No task history available.</p>
    {% endfor %}
</div>
{% endblock %}
