{% extends 'base.html' %}
{% load static %}

{% block title %}
    Register for an account
{% endblock %}

{% block content %}


    {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Please correct the following errors:</strong>
            <ul>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ field|title }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}


    <h2>Register</h2>
    <p>Please register for an account.</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>

    <p>Already have an account? 
        <a href="{% url 'login' %}">Login</a>
    </p>

{% endblock %}