{% extends 'base.html' %}
{% load static %}

{% block title %} Tasks {% endblock %}

{% block content %}

<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="page-title">My Tasks</h1>
        <a href="{% url 'add_task' %}" class="btn btn-primary btn-add"> + Add New Task</a>
    </div>
    
    <div class="task-list">
        {% for task in tasks %}
            <div class="task-card {{ task.status }} p-3 mb-3 border rounded shadow-sm">
                <h3 class="task-title text-primary">{{ task.title }}</h3>

                
                <p class="task-progress-text">Progress: {% with percentage=task.current_achieved|floatformat:0|add:0 %}
                    {% if percentage|add:0 > task.goal|add:0 %}
                        100
                    {% else %}
                        {% widthratio task.current_achieved task.goal 100 %}
                    {% endif %}
                    {% endwith %}%
                </p>
                <div class="progress" style="height: 15px;">
                    <div class="progress-bar" 
                        role="progressbar" 
                        style="width: {% widthratio task.current_achieved task.goal 100 %}%;" 
                        aria-valuenow="{% widthratio task.current_achieved task.goal 100 %}" 
                        aria-valuemin="0" 
                        aria-valuemax="100">
                    </div>
                </div>
                <br>
                <a href="{% url 'task_details' task.id %}" class="btn btn-primary btn-add"> View Details</a>
            </div>
        {% empty %}
            <p class="no-tasks text-center text-secondary">No tasks found. Start adding your Ramadan goals!</p>
        {% endfor %}
    </div>
</div>

{% endblock %}